@model Attendance_Managment.Models.Student
@{
    ViewBag.Title = "EditStudent";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - M</title>
    @Styles.Render("~/Content/Login.css")
<script>
    var login = document.cookie.match("Login");
    if (login == null) {
        var url = '@Url.Action("Index", "Login", new { })';
            window.location.href = url.replace();
    }
</script>
</head>
<body style="background-color:rgb(234,234,234);">
    @Html.Raw(TempData["msg"])

    <div style="margin-top :4%;width:100%;" id="AddFaculty">
        @using (Html.BeginForm("EditStudent", "Student", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <table align="center" style="width:400px;">
                <tr><th style="text-align:center;padding-top:5%;font-size:34px;font-family: 'Times New Roman', Times, serif ;">Faculty Registration<hr></th></tr>
                <tr>
                    <td style="padding-top:5%;font-family: 'Times New Roman', Times, serif ;">
                        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control Textbox", placeholder = "Faculty Id", @style = "background-color:rgb(248,248,248);", @readonly = "readonly" } })
                        @if (TempData["user"] != null)
                        {
                            @Html.ValidationMessageFor(model => model.Id, "User not Exist", new { @class = "text-danger validation" })
                        }
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger validation" })
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:5%;font-family: 'Times New Roman', Times, serif ;">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { Value = ViewBag.Student.Name, @class = "form-control Textbox", placeholder = "Name", @style = "background-color:rgb(248,248,248);" } })
                        @if (TempData["user"] != null)
                        {
                            @Html.ValidationMessageFor(model => model.Name, "User not Exist", new { @class = "text-danger validation" })
                        }
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger validation" })
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:5%;font-family: 'Times New Roman', Times, serif ;">
                        @Html.TextBoxFor(model => model.Email, new { Value = ViewBag.Student.Email, @class = "form-control Textbox", placeholder = "Email", @style = "background-color:rgb(248,248,248);" })
                        @if (TempData["user"] != null)
                        {
                            @Html.ValidationMessageFor(model => model.Email, "User not Exist", new { @class = "text-danger validation" })
                        }
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger validation" })
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:5%;font-family: 'Times New Roman', Times, serif ;">
                        @Html.TextBoxFor(model => model.ContactNumber, new { Value = ViewBag.Student.ContactNumber, @class = "form-control Textbox", placeholder = "Contact Number", @style = "background-color:rgb(248,248,248);" })
                        @if (TempData["user"] != null)
                        {
                            @Html.ValidationMessageFor(model => model.ContactNumber, "User not Exist", new { @class = "text-danger validation" })
                        }
                        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger validation" })
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:5%;font-family: 'Times New Roman', Times, serif ;">
                        @Html.EditorFor(model => model.Class, new { htmlAttributes = new { Value = ViewBag.Student.Class, @class = "form-control Textbox", placeholder = "Class", @style = "background-color:rgb(248,248,248);" } })
                        @if (TempData["user"] != null)
                        {
                            @Html.ValidationMessageFor(model => model.Class, "User not Exist", new { @class = "text-danger validation" })
                        }
                        @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger validation" })
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:5%;font-family: 'Times New Roman', Times, serif ;">
                        @Html.TextBoxFor(model => model.Dob, new { Value = ViewBag.Student.Dob, @class = "form-control Textbox", placeholder = "Date of Birth", style = "background-color:rgb(248,248,248);", @readonly = "readonly" })
                        @if (TempData["user"] != null)
                        {
                            @Html.ValidationMessageFor(model => model.Dob, "User not Exist", new { @class = "text-danger validation" })
                        }
                        @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger validation" })
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:1%;padding-bottom:5%;font-family: 'Times New Roman', Times, serif ;">
                        <input type="submit" value="Update Student" class="btn btn-default" style="width:100%;margin-left:15%;background-color:rgb(56,151,250);font-size:17px;color:white;" />
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>